.seperate-line {
    margin: 30px 0px;
}

.keyboard {
    display: flex;
    justify-content: center;
}


#ButtonSpace {
    width: 70% !important;
    padding: 0 15%;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: solid;
}

#google {
    white-space: nowrap;
    overflow: hidden;
    text-decoration: line-through;
}


#num div div>.btn {
    height: 150%;
    width: 100%;
    margin: 0px 5px;
    border-bottom: solid;
}

#char div div>.btn {
    height: 150%;
    border-bottom: solid;
}

#char div div>.btn {
    margin: 0px 3px;
    width: 40%;
}


.h50 {
    height: 50px;
}

#char {
    margin-bottom: 40px;
}